* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(77, 192, 156);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: rgb(45, 45, 45);
}
h1,
h2,
p,
button,
.outputcontainer {
  margin-bottom: 1rem;
}
h1 {
  font-size: 4rem;
}

img {
  max-width: 100%;
}
form {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 1rem;
  border-radius: 20px;
  width: 60%;
  box-shadow: 0px 2px 2px rgb(112, 112, 112);
}
.output {
  font-size: 3rem;
  background-color: rgb(224, 224, 224);
  padding: 1rem;
  border-radius: 10px;
}

.btncopy {
  padding: 2rem;
  border-radius: 8px;
  border: 0;
  background-color: aliceblue;
  box-shadow: 0px 2px 2px rgb(112, 112, 112);
  transition: all 0.4s ease-in-out;
  background-image: url(../img/copy-icon-vector-illustration.jpg);
  background-size: cover;
}

.btncopy:hover {
  transform: scale(1.08);
}
.outputcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 992px) {
  body,
  p,
  div,
  .output {
    font-size: 14px;
  }
  h1 {
    font-size: 25px;
  }
  h2,
  .output {
    font-size: 18px;
  }
  form {
    width: 80vw;
  }
  .inputfields {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}
